certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
decorator==4.4.2
idna==3.3
imageio==2.13.5
imageio-ffmpeg==0.4.5
imutils==0.5.4
moviepy==1.0.3
numpy==1.21.5
opencv-python==4.5.4.60
Pillow==9.0.0
proglog==0.1.9
PyAudio==0.2.11
pycparser==2.21
requests==2.27.1
sounddevice==0.4.4
tqdm==4.62.3
urllib3==1.26.8
